/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffcc00; /* Color de fondo inspirado en el traje de Goku */
    background-image: url(dragonballcafeta.jpg); /* Puedes usar una imagen de fondo temática si tienes una */
    background-size: cover;
    background-position: center;
    color: #fff; /* Texto blanco para contraste */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 2px 2px 4px #000; /* Sombra en el texto */
}

h1 {
    color: #ff4500; /* Color naranja intenso, similar al símbolo de Dragon Ball */
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', 'Chalkboard', sans-serif; /* Estilo de letra desenfadado */
    text-transform: uppercase;
    letter-spacing: 2px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 18px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ff4500;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #ff6347;
    transform: scale(1.05); /* Pequeño efecto de zoom al pasar el ratón */
}

h2 {
    margin-top: 30px;
    color: #ff4500;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

span {
    font-weight: bold;
    color: #ff4500; /* Color naranja para destacar los resultados */
}

/* Contenedor principal */
.container {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente para el contenedor */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }
    
    .container {
        padding: 20px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    button {
        font-size: 16px;
    }
}
