.entrenamiento {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  color: #fff;
  background-color: #282c34;
  padding: 10px;
  border-radius: 8px;
}

p {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffdd57;
}

.btn-entrenar {
  padding: 10px 20px;
  font-size: 1.5em;
  margin-top: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.btn-entrenar:hover {
  background-color: darkgreen;
}

.btn-entrenar:active {
  transform: scale(0.95);
}
