body {
  margin: 0;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  padding: 50px 20px;
  color: white;
  text-align: center;
}

.servicios, .testimonios, .contactanos {
  margin: 40px 20px;
  padding: 20px;
  background-color: rgb(40, 21, 71);
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid black
}

p{
  color: white;
}

blockquote{
  color: white;
}

li{
  color: white;
}

h2 {
  color: yellow;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}
