a[href^="https"] {
    color: rgb(61, 114, 66);
    text-decoration: none;
}

a[href$=".pdf"] {
    color: red;
    font-weight: bold;
}

div[data-info*="div"] {
    background-color: rgb(184, 26, 26);
    padding: 10px;
}

p[title^="Info"] {
    color: rgb(22, 21, 97);
    font-size: 20px;
}

[class*="important"] {
    border: 2px solid orange;
    padding: 5px;
}
